<div class="index">
    <div class="index-title">Bienvenido!</div>
    <div class="index-message">A SafeCity ApiREST</div>
    <div class="index-guide">
        <p>
            - Si quiere ver las rutas correctamente instale esto: <br>
            <span>-- Chrome: <a href="https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc">Descargar.</a></span> <br>
            - Luego coloque las rutas especificadas. <br>
            - Si tiene dudas contacte con los administradores o personal capacitado.
        </p>
    </div>
    <div class="index-footer">Creado por Anthony R.</div>
</div>