.index {
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: bold;
  text-align: center;
  .index-title {
    font-size: 36px;
  }
  .index-message {
    font-size: 16px;
  }
  .index-footer {
    font-size: 12px;
  }
  span {
    font-size: 12px;
  }
}